<div class="">
  <section class="ui">
    <h1 class="header1">Play sheet music</h1>
    <div>
      <div class="ui two column stackable grid">
        <div class="column" ng-controller="PlaybackController">
          <form>
                        
              <input type="button" ng-click="noteGen()" value="Make sheet"/>
              <div id="boo"></div>
              <input type="button" ng-click="play()" value="Play song"/>
              <small>This is what you got {{ sheet.song}} </small>
            
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
