<div class="">
  <section class="ui">
    <h1 class="header1">Recording</h1>
    <h2 class="header1">..sshh..</h2>
    <!-- <div class="ui segments"> -->
    <div>
      <div class="ui two column stackable grid" ng-controller="RecordController">
        <div class="column">
          <form>
            <input type="checkbox" ng-click="toggleRecord()"/>          
            <p>
              Recorder is {{ recorder.status }}
            </p>
          </form>
        </div>
        <div class="column">
          <h3>{{ recorder.status }}</h3>
          <p ng-show="(recorder.status === 'stopped')">
            <button ng-click="reloadPage()">Try again</button>
          </p>        
        </div>
      </div>
    </div>
  </section>
</div>
